.OnlinePersonnel,
.EquipmentOnline {
  width: 96%;
  margin: 0 auto;
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #56e9ff;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
  // 2-1. 类型标题
  .title {
    display: flex;
    height: 100%;
    align-items: center;
  }

  // 2-2. 具体列表
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #fff;
    cursor: pointer;
    & > li {
      display: flex;
      align-items: center;
      border-left: 2px solid transparent;
      padding: 3px 0;
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(0, 193, 222, 0.7) 0%,
          transparent 100%
        );
        border-left: 2px solid #56e9ff;
        .textBtn {
          display: inline-block;
        }
      }
      // 2-2-1. 图标
      .icon {
        width: 26px;
        height: 29px;
        background: no-repeat left center;
        margin: 0 4px 0 10px;
      }
      // 各种图标
      $icon-list: contactor, contactor-device-2, contactor-device-3, task, team,
        team-device-2, team-device-3, expert, riskDanger, article,
        articleStorehouse, area, protect, equipment, equipmentGroup, device-0,
        device-1, device-2, device-3;
      @each $icon in $icon-list {
        .icon--#{$icon}-offline {
          background-image: url(../../imgs/#{$icon}-offline.svg);
        }
        .icon--#{$icon}-online {
          background-image: url(../../imgs/#{$icon}-online.svg);
        }
      }

      img {
        width: 26px;
        height: 29px;
        background: no-repeat left center;
        margin: 0 4px 0 10px;
      }
      // 2-2-2. 名称和地址
      .listContent {
        flex: 1;
        .name {
          color: #fff;
          line-height: 26px;
        }
        .address {
          width: 300px;
          color: #a4adb5;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
