.card {
    width: 380px;
    background: rgba(0, 0, 0, 0.29);
    border: 1px solid #00c1de;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      background: linear-gradient(
        90deg,
        rgba(0, 193, 222, 0.3) 0%,
        rgba(24, 38, 50, 0) 100%
      );
    }
    .title {
      font-weight: 600;
      color: #56e9ff;
      height: 48px;
      line-height: 48px;
      padding-left: 12px;
    }
    .border {
      width: 360px;
      height: 9px;
      background: url(../assets/border.png) no-repeat;
    }
    .content {
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      width: 360px;
      margin: 0 auto;
    }
    .type {
      color: #fff;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 360px;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 14px;
      & > div {
        background: #0bd295;
        padding: 0 5px;
        margin: 2px;
        border-radius: 10px;
      }
    }
    .imgs {
      margin-bottom: 10px;
      & > img {
        width: 83px;
        height: 83px;
        margin: 5px;
      }
    }
    .time {
      color: #fff;
      width: 360px;
      margin: 0 auto;
      margin-top: 24px;
      margin-bottom: 10px;
    }
  }