.list {
  width: 88%;
  height: 83%;
  overflow: auto;
  position: relative;
  color: #fff;
  padding: 80px;
  // 滚动条
  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #56E9FF;
    border-radius: 5px;
  }
  &::-webkit-scrollbar-corner {
    background: transparent;
  }
  .announceTitle {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .announceName {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
    float: left;
  }
  .line {
    width: 1px;
    height: 17px;
    background: #FFFFFF;
    opacity: 0.23;
    float: left;
    margin: 5px 20px 0px 20px;
  }
  .announceTime {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
  }
  .horiline {
    margin-top: 20px;
    margin-bottom: 24px;
    width: 1117px;
    height: 1px;
    background: #414449;
    opacity: 0.5;
  }
  .announceContent {
    color: rgba(255, 255, 255, 1);
    p {
      font-size: 20px;
      strong {
        font-size: 20px;
        font-weight: 700;
      }
      b {
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
  .listText {
    font-size: 20px;
    img {
      width: 15px;
      height: 18px;
    }
    span {
      margin-left: 5px;
      font-size: 20px;
      color: #0091FF;
      cursor: pointer;
    }
  }
  .withdrew {
    text-align: center;
    margin-top: 28%;
    img {
      width: 108px;
      height: 109px;
    }
    p {
      font-size: 22px;
    }
  }
}